<!DOCTYPE html>
<html lang="en" dir="ltr">
 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel App</title>
</head>
 
<body>
    <div style="display: none;" class="loading">
        <div class="overlay"></div>
        <img class="img" src='./images/loading.svg'  alt="" style="height: 100px;width: 100px;">
    </div>
    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>
 
    <main>
       
        <section>
            <!-- Form example use direct function on html -->
            <!-- <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                    <input id="name" type="text" name="input" value="" onblur="Client.onBlur()" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form> -->
 
            <form id="myForm">
                <div class="form-group">
                    <label for="location">My Trip To :</label>
                    <input type="text" name="location" id="location" class="input-control" placeholder="ENTER LOCATION">
                </div>
                <div class="form-group">
                    <label for="date">Departing :</label>
                    <input type="text" name="date" id="date" class="input-control" placeholder="DD/MM/YYYY">
                </div>
                <div class="error"></div>
                <input type="button" name="" id="search-btn" value="SEARCH">
            </form>
            <section >
                <strong>My trip:</strong>
                <section style="display: block;" id="results"></section>
            </section>
    </main>
 
    <footer>
        <p>This is a footer</p>
    </footer>
 
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {    
            navigator.serviceWorker.register('/service-worker.js').then(registration => {
                console.log('Service Worker registered with scope:', registration.scope);
            })
            .catch(error => {
                console.error('Service Worker registration failed:', error);
            });
            });
        }
    </script>
</body>
 
</html>