body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 2;
}

.loading {
  height: 100%;
  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100vh;
    z-index: 1000;
  }
  .img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color: burlywood;
  }
}

.error{
  color: red;
}

section {
  max-width: 800px;
  margin: 50px auto;
}
