form {
  border: 1px solid #545454;
  border-radius: 3px;
  padding: 40px;
  #search-btn{
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .form-group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    label{
        width: 100%;
    }
    input{
        width: 100%;
        margin-top: 10px;
        padding: 15px;
    }

  }
}
